* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

.container {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #FFF07C;
    justify-content: center;
    align-items: center;

}

.game {
    height: 68vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: #5D737E;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 0.4rem;
    color: #5D737E;
    font-size: 8vmin;
    background-color: #ECE4B7;
}

#reset-btn {
    margin: 2rem;
    height: 8vmin;
    width: 18vmin;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: #5D737E;
    background-color: #FC9F5B;
}

#new-btn {
    margin: 2rem;
    height: 8vmin;
    width: 18vmin;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #5D737E;
    background-color: #FC9F5B;
}

#msg {
    justify-content: center;
    font-size: 8vmin;
}

.msg-container {
    display: flex;
    margin-top: 15%;
    height: 95vh;
    flex-direction: column;
    align-items: center
}

.hide {
    display: none;
}